* {margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  padding: 0;}
body {
  font-family: Lato, sans-serif;
}
.wrapper{
  width: 1020px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  height: 100;
}
.portfolio{
  width: 100%;
  box-sizing: border-box;
  height: 870px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
.portfolio__title{
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 64px;
  letter-spacing: 0.2px;
}
.potfolio__description{
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
  letter-spacing: -0.2px;
}
.portfolio__tags{
  display: flex;
  justify-content: start;
  margin-top: 13px;
}
.tags__tag{
  font-size: 12px;
  color: #767e9e;
  font-weight: 400;
  border: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 5px;
  padding: 3px 7px;
  margin-left: 10px;
  letter-spacing: -0.2px;
}
.tags__tag:first-child{
  margin-left: 0;
  color: #dedede;
}
.tags__tag:hover{
  color: red;
  border-color: red;
  cursor: pointer;
}
.layout-4-column{
  margin-top: 18.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column img{
  padding-bottom: 15px;
}
.layout-4-column a:nth-child(n+13){
  display: none;
}
.layout-4-column img:hover{
  transform: scale(1.05);
  transition-duration: 200ms;
}
.about-us{
  height: 728px;
  background-color: #f2f2f2;
}
.about-us__title{
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 62px;
}
.about-us__description{
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  padding-top: 17px;
  letter-spacing: -0.5px;
}
.layout-3-column{
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}

.text__title{
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 12px;
}
.text__description{
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  padding-top: 7px;
}
.icons{
  margin-top: 24px;
  display: flex;

}
.icons__icon{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #666d89;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ico_facebook{
  background-image: url("./assets/img/facebook.svg");
  width: 8px;
  height: 8px;

}


