* {margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  padding: 0;}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
}

.wrapper{
  width: 1020px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.header{
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  height: 95px;
  z-index: 5;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
}

.header__logo{
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: -0.5px;
  padding-top: 3px;
}

.logo__star{
  color: #f06c64;
}

.header__navigation{
  font-size: 12px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 371px;
  padding-top: 11px;
}

.navigation__link{
  text-decoration: none;
  color: #ffffff;
}

.navigation__link_active{
  color: #bc5c59;
}

.navigation__link:not(.navigation__link_active):hover{
  color: #dadb7d;
  cursor: pointer;
}

.navigation__button:not(:last-child):after{
  content: ".";
  position: relative;
  top: -3px;
  right: -15px;
  color: #494e62;
}

.slider{
  box-sizing: border-box;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  height: 695px;
  padding-top: 95px;
}

.slider a{
  position: relative;
  top: -95px;
}

.blue{
  background-color: #648BF0;
  border-bottom: 6px solid #648BA1;
}

.wrapper-slider{
  width: 1020px;
  margin: 0 auto;
  height: 100%;

}

.slider__container{
  position: relative;
  height: 100%;
}

.slider__left-arrow{
  position: absolute;
  left: 42px;
  top: 281px;
}

.slider__right-arrow{
  position: absolute;
  right: 40px;
  top: 281px;
}

.slider__left-arrow:hover,
.slider__right-arrow:hover{
  transform: scale(1.5);
  transition-duration: 100ms;
  cursor: pointer;
}

.slider__iphone-vertical{
  position: absolute;
  left: 112px;
  top: 53px;
}

.slider__iphone-horizontal{
  position: absolute;
  right: 111px;
  top: 174px;
}

.slider__black-screen-vertical{
  display: none;
  position: absolute;
  width: 190px;
  height: 335px;
  background-color: black;
  border-radius: 4px;
  z-index: 1;
  top: 117px;
  left: 125px;
}

.iphone-vertical__button{
  cursor: pointer;
  position: absolute;
  bottom: 39px;
  left: 86px;
  width: 41px;
  height: 41px;
}

.slider__black-screen-horizontal{
  display: none;
  position: absolute;
  width: 335px;
  height: 190px;
  background-color: black;
  border-radius: 4px;
  z-index: 1;
  top: 187px;
  left: 484px;
}

.screen-on{
  display: block;
}

.iphone-horizontal__button{
  cursor: pointer;
  position: absolute;
  top: 87px;
  left: 9px;
  width: 41px;
  height: 41px;
}

.second{
  height: 100%;
}

.slider__second-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.services{
  box-sizing: border-box;
  margin: 0;
  height: 500px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services a{
  position:relative;
  top: -95px;
}

.services__content{
  padding-top: 71px;
}

.services__title{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
}

.services__description{
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: -0.08px;
  text-align: left;
  padding-top: 26px;
}

.services__container-3x2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
  max-height: 319px;
}

.container-3x2__part{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  padding-bottom: 35px;
  padding-left: 1px;
}

.container-3x2__text{
  padding-top: 0;
  padding-left: 20px;
  overflow: hidden;
}

.container-3x2__part:nth-child(3n) .container-3x2__text{
  padding-left: 21px;
}

.container-3x2__head{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: -0.1px;
}

.container-3x2__description{
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: normal;
  padding-top: 10px;
  overflow: hidden;
  height: 60px;
  text-align: justify;
}

.portfolio{
  width: 100%;
  box-sizing: border-box;
  height: 869px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio a{
  position: relative;
  top: -95px;
}

.portfolio__title{
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 62px;
  letter-spacing: 0.2px;
}
.potfolio__description{
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  padding-top: 21px;
  letter-spacing: -0.2px;
}
.portfolio__tags{
  display: flex;
  justify-content: start;
  margin-top: 13px;
}

.tags__tag{
  font-size: 12px;
  color: #767e9e;
  font-weight: 400;
  border: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 5px;
  padding: 3px 7px;
  margin-left: 10px;
  letter-spacing: -0.2px;
}

.tags__tag:first-child{
  margin-left: 0;
}

.tag_active{
  color: #dedede;
  border-color: #dedede;
}
.tags__tag:hover{
  color: red;
  border-color: red;
  cursor: pointer;
}
.layout-4-column{
  margin-top: 18.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column__img{
  margin-bottom: 15px;
  cursor: pointer;
}
.layout-4-column .layout-4-column__img:nth-child(n+13){
  display: none;
}

.layout-4-column__img_active{
  outline: solid 5px #F06C64;
  outline-offset: -5px;
}

.about-us{
  box-sizing: border-box;
  height: 734px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us a{
  position: relative;
  top: -95px;
}

.about-us__title{
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 62px;
}
.about-us__description{
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  padding-top: 17px;
  letter-spacing: -0.5px;
}
.layout-3-column{
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}
.team{
  margin-right: 20px;
  max-width: 300px;
}
.text__title{
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  padding-top: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text__description{
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  padding-top: 7px;
  letter-spacing: -0.1px;
}
.team__icons{
  margin-top: 24px;
  display: flex;

}
.team__icon{
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #666d89;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ico_facebook {
  background-image: url("./assets/img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 8px;
}
.ico_google {
  background-image: url("./assets/img/google.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 14px;
}
.ico_twitter {
  background-image: url("./assets/img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 15px;
}
.ico_lnkdn {
  background-image: url("./assets/img/lnkdn.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 15px;
}
.team__icon:hover{
  background-color: aqua;
  cursor: pointer;
}

.quote{
  box-sizing: border-box;
  height: 654px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote > a{
  position:relative;
  top: -95px;
}

.quote__title{
  font-size: 30px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
  padding-top: 62px;
  letter-spacing: -0.25px;
}
.quote__description{
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
  text-align: left;
  padding-top: 16px;
  letter-spacing: -0.05px;
}
.quote__form-container form{
  margin-right: 20px;
}
.quote__form-container{
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}
.form__input{
  width: 605px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 16px;
  padding-left: 14.5px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.form__input:first-child{
  margin-top: 0;
}
.form__input::placeholder {
  color: #f48c8f;
}
.form__textarea{
  height: 191px;
  padding-top: 11px;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: normal;
  letter-spacing: -0.07px;
  resize: none;
}
.form__submit{
  border: 1px solid;
  border-radius: 5px;
  width: 60px;
}

.quote__modal{
}

.modal__overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
}

.modal__window{
  width: 300px;

  margin: auto auto;
  background-color: white;
  border-radius: 10px;
}

.modal__header, .modal__body{
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  word-wrap: break-word;
  max-height: 150px;
}

.modal__description{
  overflow: hidden;
}

.modal__sending{
  overflow: hidden;
  text-align: center;
}

.modal__footer{
  display: flex;
}

.modal__footer button{
  margin: 10px auto;
  width: 30px;
}

.contact__title{
  font-size: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
}
.contact__description{
  width: 300px;
  padding-top: 7px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: normal;
  text-align: left;
  letter-spacing: -0.1px;
}
.contact__info{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.contact__info li{
  font-size: 12px;
  color: #f0d8d9;
  font-weight: normal;
  list-style-type: none;
}
.contact__info li:nth-child(2){
  padding-top: 6px;
}
.contact__info li:nth-child(3){
  padding-top: 7px;

}
.info__phone,
.info__mail{
  text-decoration: none;
  font-size: 12px;
  color: #f0d8d9;
  font-weight: normal;
  padding-left: 22px;
}
.contact__info li:first-child::before {
  content: url(./assets/img/location.svg);
  position: absolute;
}
.contact__info li:nth-child(2)::before {
  content: url(./assets/img/phone.svg);
  position: absolute;
}
.contact__info li:nth-child(3)::before {
  content: url(./assets/img/mail.svg);
  position: absolute;
  padding-top: 2px;
}
.contact__location{
  padding-left: 22px;
}

.footer{
  height: 76px;
  background-color: #2d303a;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.copyright__logo{
  font-size: 12px;
  font-weight: normal;
  color: #666d89;
  letter-spacing: -0.16px;
}
.footer__icons{
  display: flex;
}
.footer__icon{
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #666d89;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ico_facebook {
  background-image: url("./assets/img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 8px;
}
.ico_google {
  background-image: url("./assets/img/google.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 14px;
}
.ico_twitter {
  background-image: url("./assets/img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 15px;
}
.ico_lnkdn {
  background-image: url("./assets/img/lnkdn.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-size: 15px;
}
.footer__icon:hover{
  background-color: aqua;
  cursor: pointer;
}
